
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tokki</title>
    <link rel="stylesheet" href="static/style/estilo.css">
    <link rel="shortcut icon" static="max-xwidth: 100px;" href="../static/assets/tokki.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body>

    

    <img class="nuvemum" src="../static/assets/nuvemum.svg" alt="">

    <nav>
        <a href="#home">Início</a>
        <a href="#sobre">Sobre Nós</a>
        <img class="logo" src="../static/assets/tokkitokki.svg" alt="">
        <a href="#cardapio">Cardápio</a>
        <a href="#reviews">Reviews</a>
    </nav>


    <section id="#home" >
        <h1>SEJA BEM VINDO</h1>
        <img class="nome" src="../static/assets/nome.svg" alt="">

        <p class="descricao">Desde 1997, unindo a delicadeza de uma cultura milenar com a <br> 
             força e a alegria do café brasileiro, feito para aquecer o coração</p>
        <img class="cafe" src="../static/assets/cafeee.svg" alt="">

        <button href="https://wa.me/5511932295571?text=Ol%C3%A1!%20gostaria%20de%20saber%20sobre%20mais%20sobre%20a%20cafeteria.%20" class="pedido" type="button" id="pedido" onclick="pedido()">FAÇA SEU PEDIDO</button>

        <a href="https://wa.me/5511932295571?text=Ol%C3%A1!%20gostaria%20de%20saber%20sobre%20mais%20sobre%20a%20cafeteria.%20">
            <img class="whats" src="../static/assets/whats.svg" alt="">
        </a>

    </section>

            <div>
                <img class="nuvemdois" src="../static/assets/nuvemdois.svg" alt="">
            </div>

            <div class="nuvemtres">
                <img class="nuvemtres" src="../static/assets/nuvemtres.svg" alt="">
            </div>

                
            
        <img class="nuvemquatro" src="../static/assets/nuvemquatro.svg" alt="">

            
    <section id="#sobre">
        <h1 class="sobre" >SOBRE NÓS</h1>
        <p class="sobredec">Tudo começou em 1997, no coração de São Paulo, quando <br> a família Moon recém-chegada da Coreia do Sul, decidiu <br> trazer um pedacinho de sua cultura e de suas memórias <br> para o Brasil. Com um amor incondicional pelo café e um <br> desejo de compartilhar as tradições que aqueciam seus <br> corações, nasceu a Tokki Tokki. <br>
         O nome "Tokki Tokki" significa "coelho coelhinho" em <br> coreano, uma homenagem à nossa infância e ao símbolo <br> de sorte, agilidade e prosperidade na cultura coreana. É a <br> nossa forma de dizer que cada xícara de café é uma <br> jornada cheia de carinho e momentos felizes.</p>

        <h1 class="compro" >NOSSO COMPROMISSO</h1>
        <p class="comprodec" >Na Tokki Tokki, a qualidade é nossa prioridade.<br> Selecionamos cuidadosamente os melhores grãos de <br> café de fazendas brasileiras e importamos <br> ingredientes tradicionais coreanos para garantir <br> uma experiência autêntica e inesquecível. <br>
        Cada bebida e cada doce são preparados com paixão, <br> seguindo receitas de família que foram passadas de <br> geração em geração. É o nosso jeito de garantir que <br> você não esteja apenas tomando um café, mas sim  <br> vivendo uma experiência cultural e sensorial <br> completa.</p>
    </section>


    <section id="#cardapio">

    <h1 class="cardapio">CARDÁPIO</h1>

    <img class="coelho" src="../static/assets/coelho.svg" alt="">

    <img class="coelhod" src="../static/assets/coelho.svg" alt="">

    <div>
        <img class="nuvemcard" src="../static/assets/nuvemcard.svg" alt="">
    </div>

    <div class="nuvemcell">
        <img src="../static/assets/nuvemcell.svg" alt="">
    </div>

    <div class="setacremeum">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>

    <div class="setacremedois">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>

    <div class="setacremetres">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>

    <div class="setacremequatro">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>

    <div class="setacremecinco">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>

    <div class="setacremeseis">
        <img src="../static/assets/setacreme.svg" alt="">
    </div>


    <!-- BREAKFAST -->
        <div >
        
                <div>
                    <img class="paodequeijo" src="../static/assets/paodequeijo.svg" alt="Pão de Queijo">
                <p class="holland">Holland Lop</p>
                </div>

                <div>
                    <img class="panqueca" src="../static/assets/panqueca.svg" alt="Panqueca">
                <p class="gigante">Gigante Xadrez</p>
                </div>

                <div>
                    <img class="misto" src="../static/assets/misto.svg" alt="Misto">
                <p class="deilenaar">Deilenaar</p>
                </div>

                <div>
                    <img class="fuba" src="../static/assets/fuba.svg" alt="Fubá">
                <p class="bonolagus">Bonolagus</p>
                </div>

                <div>
                    <img class="bolochoco" src="../static/assets/bolochoco.svg" alt="Fubá">
                    <p class="cashmere">Cashmere Lop</p>
                </div>


            </div>

    
        
    </div>


  <!-- DESSERTS -->
    <div>
    
            <div>
                <img class="brigadeiro" src="../static/assets/brigadeiro.svg" alt="Brigadeiro">
                <p class="rex">Rex</p>
            </div>

            <div>
                <img class="pudim" src="../static/assets/pudim.svg" alt="Pudim">
                <p class="teporingo">Teporingo</p>
            </div>

            <div >
                <img class="quindim" src="../static/assets/quindim.svg" alt="Quindim">
                <p class="tan">Tan</p>
            </div>

            <div >
                <img class="cocada" src="../static/assets/cocada.svg" alt="Cocada">
                <p class="nesolagus">Nesolagus</p>
            </div>

            <div>
                <img class="acai" src="../static/assets/acai.svg" alt="Açaí">
                <p class="netherland">Netherland Dwarf</p>
            </div>

    

    <!-- COFFEE -->
    <div>
            <div>
                <img class="cappuccino" src="../static/assets/cappuccino.svg" alt="Cappuccino">
                <p class="coelhuccino">Coelhuccino</p>
            </div>

            <div>
                <img class="latte" src="../static/assets/latte.svg" alt="Latte">
                <p class="hoppy">Hoppy Latte</p>
            </div>

            <div>
                <img class="mocha" src="../static/assets/mocha.svg" alt="Mocha">
                <p class="mochaa">Mocha Cenourita</p>
            </div>

            <div>
                <img class="cold" src="../static/assets/cold.svg" alt="Cold">
                <p class="coldbrew">Cold Brew <br> da Toca</p>
            </div>

            <div>
                <img class="espresso" src="../static/assets/espresso.svg" alt="Espresso">
                <p class="espressopulao">Espresso no <br> Pulão</p>
            </div>

</section>

    <section id="#reviews">
        <h1 class="reviews" >REVIEWS</h1>

        <div>
            <div>
                <img class="maria" src="../static/assets/maria.svg" alt="Maria">
            </div>
            <div>
                <img class="flavia" src="../static/assets/flavia.svg" alt="Flavia">
            </div>
            <div>
                <img class="ricardo" src="../static/assets/ricardo.svg" alt="Ricardo">
            </div>
            <div>
                <img class="joao" src="../static/assets/joao.svg" alt="João">
            </div>
        </div>
    
    </section>

   <footer>
       <p class="copyright">&copy; Copyright Tokki Tokki café - 2025</p>
   </footer>
    
    <div class="rodape">
        <img src="../static/assets/rodape.svg" alt="">
    </div>

    <div class="logorod">
        <img src="../static/assets/logorod.svg" alt="">
    </div>

    <div class="contatos">
        <h1 class="entrecont">ENTRE EM CONTATO!</h1>


        <p class="telefone">11 966525658</p>
        <img class="tel" src="../static/assets/telefone.svg" alt="">

        <p class="email">TOKKICAFE@GMAIL.COM</p>
        <img class="mail" src="../static/assets/email.svg" alt="">

        <p class="localizacao">AV. PAULISTA, 862 - BELA VISTA <br> SÃO PAULO/SP, 01310-913</p>
        <img class="local" src="../static/assets/localizacao.svg" alt="">
    </div>

    <div>
        <p class="creditos">TODOS OS DIREITOS RESERVADOS A TOKKI TOKKI CAFÉ</p>
    </div>


</body>
</html> 